/* <system section="theme" selected="neutral"> */
@import "/css/theme/neutral/neutral.css";
/* </system> */
/*

  再定義

*/
.entry .entry-inner .entry-content section::after {
  clear: both;
  content: "";
  display: block;
}
.entry .entry-inner .entry-content h1,
.entry .entry-inner .entry-content h2,
.entry .entry-inner .entry-content h3,
.entry .entry-inner .entry-content h4,
.entry .entry-inner .entry-content h5,
.entry .entry-inner .entry-content h6 {
  margin-bottom: 0;
}
.entry .entry-inner .entry-content h1,
.entry .entry-inner .entry-content h2 {
  border-bottom: 1px solid #a8a8a8;
}
.entry .entry-inner .entry-content h1 {
  font-size: 35px;
}
.entry .entry-inner .entry-content h2 {
  font-size: 29px;
}
.entry .entry-inner .entry-content h2::before {
  content: "🎀";
  display: inline-block;
}
.entry .entry-inner .entry-content h1 ~ h2 {
  border-bottom: 0;
}
.entry .entry-inner .entry-content h3 {
  font-size: 24px;
}
.entry .entry-inner .entry-content h3::before {
  content: "🌻";
  display: inline-block;
}
.entry .entry-inner .entry-content h4 {
  font-size: 18px;
}
.entry .entry-inner .entry-content h4::before {
  content: "🥑";
  display: inline-block;
}
.entry .entry-inner .entry-content h5 {
  font-size: 17px;
  color: #555;
}
.entry .entry-inner .entry-content h6 {
  font-size: 17px;
  color: #777;
}
.entry .entry-inner .entry-content h1:first-child,
.entry .entry-inner .entry-content h2:first-child,
.entry .entry-inner .entry-content h3:first-child,
.entry .entry-inner .entry-content h4:first-child,
.entry .entry-inner .entry-content h5:first-child,
.entry .entry-inner .entry-content h6:first-child {
  margin-top: 26px;
}
.entry .entry-inner .entry-content p,
.entry .entry-inner .entry-content ol,
.entry .entry-inner .entry-content ul,
.entry .entry-inner .entry-content pre,
.entry .entry-inner .entry-content blockquote,
.entry .entry-inner .entry-content table {
  margin-top: 22px;
  margin-bottom: 0;
}
.entry .entry-inner .entry-content p {
  text-align: justify;
  text-justify: inter-ideograph;
}
.entry .entry-inner .entry-content code {
    font-family: Consolas, 'Courier New', Courier, monospace;
}
.entry .entry-inner .entry-content pre,
.entry .entry-inner .entry-content code,
.entry .entry-inner .entry-content code span {
    background-color: #1e1f1c !important;
}
.entry .entry-inner .entry-content pre {
  padding-left: 13px;
}
.entry .entry-inner .entry-content pre code {
  line-height: 1.8em;
}
.entry .entry-inner .entry-content ol,
.entry .entry-inner .entry-content ul,
.entry .entry-inner .entry-content table {
  font-size: 18px;
  color: #454545;
}
.entry .entry-inner .entry-content blockquote p {
  margin-top: 0;
  margin-bottom: 0;
}
.entry .entry-inner .entry-content blockquote p + p {
  margin-top: 19px;
}
.entry .entry-inner .entry-content img {
  max-width: 100%;
}
.entry .entry-inner .entry-content hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 5px solid #eee;
}
.entry .entry-inner .entry-content ol + ol,
.entry .entry-inner .entry-content ol + ul,
.entry .entry-inner .entry-content ul + ol,
.entry .entry-inner .entry-content ul + ul {
  margin-top: 19px;
}
.entry .entry-inner .entry-content li + ol,
.entry .entry-inner .entry-content li + ul {
  margin-top: 15px;
}
.entry .entry-inner .entry-content ol + li,
.entry .entry-inner .entry-content ul + li {
  margin-top: 15px;
}
.entry .entry-inner .entry-content li > ol,
.entry .entry-inner .entry-content li > ul {
  margin-top: 2px;
}
.entry .entry-inner .entry-content li + li:has(ol, ul) {
  margin-top: 15px;
}
.entry .entry-inner .entry-content p + ol,
.entry .entry-inner .entry-content p + ul {
  padding-left: 15px;
}
.entry .entry-inner .entry-content h1 + p,
.entry .entry-inner .entry-content h1 + ol,
.entry .entry-inner .entry-content h1 + ul,
.entry .entry-inner .entry-content h1 + pre,
.entry .entry-inner .entry-content h1 + blockquote,
.entry .entry-inner .entry-content h1 + table,
.entry .entry-inner .entry-content h2 + p,
.entry .entry-inner .entry-content h2 + ol,
.entry .entry-inner .entry-content h2 + ul,
.entry .entry-inner .entry-content h2 + pre,
.entry .entry-inner .entry-content h2 + blockquote,
.entry .entry-inner .entry-content h2 + table,
.entry .entry-inner .entry-content h3 + p,
.entry .entry-inner .entry-content h3 + ol,
.entry .entry-inner .entry-content h3 + ul,
.entry .entry-inner .entry-content h3 + pre,
.entry .entry-inner .entry-content h3 + blockquote,
.entry .entry-inner .entry-content h3 + table,
.entry .entry-inner .entry-content h4 + p,
.entry .entry-inner .entry-content h4 + ol,
.entry .entry-inner .entry-content h4 + ul,
.entry .entry-inner .entry-content h4 + pre,
.entry .entry-inner .entry-content h4 + blockquote,
.entry .entry-inner .entry-content h4 + table,
.entry .entry-inner .entry-content h5 + p,
.entry .entry-inner .entry-content h5 + ol,
.entry .entry-inner .entry-content h5 + ul,
.entry .entry-inner .entry-content h5 + pre,
.entry .entry-inner .entry-content h5 + blockquote,
.entry .entry-inner .entry-content h5 + table,
.entry .entry-inner .entry-content h6 + p,
.entry .entry-inner .entry-content h6 + ol,
.entry .entry-inner .entry-content h6 + ul,
.entry .entry-inner .entry-content h6 + pre,
.entry .entry-inner .entry-content h6 + blockquote,
.entry .entry-inner .entry-content h6 + table {
    margin-top: 16px;
}
.entry .entry-inner .entry-content a:not(.keyword),
.entry .entry-inner .entry-content a:not(.keyword):visited,
.entry .entry-inner .entry-content a:not(.keyword):hover {
  color: #0c6cac;
}
.entry .entry-inner .entry-content p .keyword {
  border-bottom-style: dashed;
}
.hatena-module .hatena-module-body .urllist-item .urllist-item-inner .urllist-title-link,
.hatena-module .hatena-urllist .urllist-item .urllist-item-inner .urllist-title-link {
  font-size: 17px;
}
.hatena-module .hatena-module-body .urllist-item .urllist-item-inner .urllist-entry-body,
.hatena-module .hatena-urllist .urllist-item .urllist-item-inner .urllist-entry-body {
  color: #a8a8a8;
}
/*

  デザインの追加

*/
/* 文字のセンタリング */
.entry .entry-inner .entry-content span.center {
  display: block;
  width: 100%;
  margin: 0;
  text-align: center;
}
/* フロートの簡略設定 */
.entry .entry-inner .entry-content p.float-left,
.entry .entry-inner .entry-content p.float-right,
.entry .entry-inner .entry-content ul.float-left,
.entry .entry-inner .entry-content ul.float-right,
.entry .entry-inner .entry-content ol.float-left,
.entry .entry-inner .entry-content ol.float-right {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0;
}
.entry .entry-inner .entry-content p.float-left,
.entry .entry-inner .entry-content p.float-right {
  width: 40%;
}
.entry .entry-inner .entry-content ul.float-left,
.entry .entry-inner .entry-content ul.float-right,
.entry .entry-inner .entry-content ol.float-left,
.entry .entry-inner .entry-content ol.float-right {
  max-width: 40%;
}
.entry .entry-inner .entry-content p.float-left,
.entry .entry-inner .entry-content ul.float-left,
.entry .entry-inner .entry-content ol.float-left {
  float: left;
  margin-right: 15px;
}
.entry .entry-inner .entry-content p.float-right,
.entry .entry-inner .entry-content ul.float-right,
.entry .entry-inner .entry-content ol.float-right {
  float: right;
  margin-left: 15px;
}
.entry .entry-inner .entry-content p.float-left.narrow,
.entry .entry-inner .entry-content p.float-right.narrow {
  width: 25%;
}
.entry .entry-inner .entry-content ul.float-left.narrow,
.entry .entry-inner .entry-content ul.float-right.narrow,
.entry .entry-inner .entry-content ol.float-left.narrow,
.entry .entry-inner .entry-content ol.float-right.narrow {
  max-width: 25%;
}
.entry .entry-inner .entry-content p.float-left.wide,
.entry .entry-inner .entry-content p.float-right.wide {
    width: 65%;
}
.entry .entry-inner .entry-content ul.float-left.wide,
.entry .entry-inner .entry-content ul.float-right.wide,
.entry .entry-inner .entry-content ol.float-left.wide,
.entry .entry-inner .entry-content ol.float-right.wide {
    max-width: 65%;
}
.entry .entry-inner .entry-content p + p.float-left,
.entry .entry-inner .entry-content ul + p.float-left,
.entry .entry-inner .entry-content ol + p.float-left,
.entry .entry-inner .entry-content pre + p.float-left,
.entry .entry-inner .entry-content blockquote + p.float-left,
.entry .entry-inner .entry-content h1 + p.float-left,
.entry .entry-inner .entry-content h2 + p.float-left,
.entry .entry-inner .entry-content h3 + p.float-left,
.entry .entry-inner .entry-content h4 + p.float-left,
.entry .entry-inner .entry-content h5 + p.float-left,
.entry .entry-inner .entry-content h6 + p.float-left,
.entry .entry-inner .entry-content p + p.float-right,
.entry .entry-inner .entry-content ul + p.float-right,
.entry .entry-inner .entry-content ol + p.float-right,
.entry .entry-inner .entry-content pre + p.float-right,
.entry .entry-inner .entry-content blockquote + p.float-right,
.entry .entry-inner .entry-content h1 + p.float-right,
.entry .entry-inner .entry-content h2 + p.float-right,
.entry .entry-inner .entry-content h3 + p.float-right,
.entry .entry-inner .entry-content h4 + p.float-right,
.entry .entry-inner .entry-content h5 + p.float-right,
.entry .entry-inner .entry-content h6 + p.float-right,
.entry .entry-inner .entry-content p + ul.float-left,
.entry .entry-inner .entry-content ul + ul.float-left,
.entry .entry-inner .entry-content ol + ul.float-left,
.entry .entry-inner .entry-content pre + ul.float-left,
.entry .entry-inner .entry-content blockquote + ul.float-left,
.entry .entry-inner .entry-content h1 + ul.float-left,
.entry .entry-inner .entry-content h2 + ul.float-left,
.entry .entry-inner .entry-content h3 + ul.float-left,
.entry .entry-inner .entry-content h4 + ul.float-left,
.entry .entry-inner .entry-content h5 + ul.float-left,
.entry .entry-inner .entry-content h6 + ul.float-left,
.entry .entry-inner .entry-content p + ul.float-right,
.entry .entry-inner .entry-content ul + ul.float-right,
.entry .entry-inner .entry-content ol + ul.float-right,
.entry .entry-inner .entry-content pre + ul.float-right,
.entry .entry-inner .entry-content blockquote + ul.float-right,
.entry .entry-inner .entry-content h1 + ul.float-right,
.entry .entry-inner .entry-content h2 + ul.float-right,
.entry .entry-inner .entry-content h3 + ul.float-right,
.entry .entry-inner .entry-content h4 + ul.float-right,
.entry .entry-inner .entry-content h5 + ul.float-right,
.entry .entry-inner .entry-content h6 + ul.float-right,
.entry .entry-inner .entry-content p + ol.float-left,
.entry .entry-inner .entry-content ul + ol.float-left,
.entry .entry-inner .entry-content ol + ol.float-left,
.entry .entry-inner .entry-content pre + ol.float-left,
.entry .entry-inner .entry-content blockquote + ol.float-left,
.entry .entry-inner .entry-content h1 + ol.float-left,
.entry .entry-inner .entry-content h2 + ol.float-left,
.entry .entry-inner .entry-content h3 + ol.float-left,
.entry .entry-inner .entry-content h4 + ol.float-left,
.entry .entry-inner .entry-content h5 + ol.float-left,
.entry .entry-inner .entry-content h6 + ol.float-left,
.entry .entry-inner .entry-content p + ol.float-right,
.entry .entry-inner .entry-content ul + ol.float-right,
.entry .entry-inner .entry-content ol + ol.float-right,
.entry .entry-inner .entry-content pre + ol.float-right,
.entry .entry-inner .entry-content blockquote + ol.float-right,
.entry .entry-inner .entry-content h1 + ol.float-right,
.entry .entry-inner .entry-content h2 + ol.float-right,
.entry .entry-inner .entry-content h3 + ol.float-right,
.entry .entry-inner .entry-content h4 + ol.float-right,
.entry .entry-inner .entry-content h5 + ol.float-right,
.entry .entry-inner .entry-content h6 + ol.float-right {
  margin-top: 26px;
}
.entry .entry-inner .entry-content p.float-left img,
.entry .entry-inner .entry-content p.float-right img {
  width: 100%;
}
.entry .entry-inner .entry-content ul.float-left,
.entry .entry-inner .entry-content ul.float-right,
.entry .entry-inner .entry-content ol.float-left,
.entry .entry-inner .entry-content ol.float-right {
  display: inline-block;
}
.entry .entry-inner .entry-content .float-left ~ h1,
.entry .entry-inner .entry-content .float-left ~ h2,
.entry .entry-inner .entry-content .float-left ~ h3,
.entry .entry-inner .entry-content .float-left ~ h4,
.entry .entry-inner .entry-content .float-left ~ h5,
.entry .entry-inner .entry-content .float-left ~ h6,
.entry .entry-inner .entry-content .float-right ~ h1,
.entry .entry-inner .entry-content .float-right ~ h2,
.entry .entry-inner .entry-content .float-right ~ h3,
.entry .entry-inner .entry-content .float-right ~ h4,
.entry .entry-inner .entry-content .float-right ~ h5,
.entry .entry-inner .entry-content .float-right ~ h6 {
  clear: both;
}
/* 「編集見たまま」タブの「見たまま」など */
.entry .entry-inner .entry-content .s1 {
  font-size: 0.73em;
}
/* もっと小さい（見え方の目視チェックしてない） */
.entry .entry-inner .entry-content .s2 {
  font-size: 0.55em;
}
/* もっともっと小さい（見え方の目視チェックしてない） */
.entry .entry-inner .entry-content .s3 {
  font-size: 0.37em;
}
/*

  tools

*/
/* step by step instructions */
.step-by-step-instructions li {
  display: inline-block;
} 
.step-by-step-instructions img {
  display: inline-block;
  max-width: 400px;  
} 
